@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    
    /* Aurora background colors */
    --white: #fff;
    --black: #000;
    --transparent: transparent;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --indigo-300: #a5b4fc;
    --violet-200: #ddd6fe;
  }
  
  * {
    @apply border-gray-800;
  }
  
  body {
    @apply bg-gray-950 text-gray-100;
  }
}